@use "./variables" as v;

body {
    background: v.$bg;
    font-family: Arial, Helvetica, sans-serif;
    color: v.$text;
}

.container {
    padding: 24px;
}

h2 {
    margin-bottom: 24px;
    font-size: 28px;
}

@media (max-width: 768px) {

    .container {
        padding: 16px;
    }

}